<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>-->
    <connectionStrings>
      <add name="serviceBus" connectionString="Endpoint=sb://tpssoftware.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=MUrtN+a7TcY2LHBubegc7RVk2KUJCgqiW6YpGuEk7P0=" />
      <add name="managerDB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionString="Server=tcp:tps-eastus-elastic-sql.database.windows.net,1433;Initial Catalog=TPSManager40;Persist Security Info=False;User ID=tpsadmin;Password=adminTPS0!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
      <add name="jobsDB"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"   connectionString="Server=tcp:tps-eastus-elastic-sql.database.windows.net,1433;Initial Catalog=TPS40-Tasks;Persist Security Info=False;User ID=tpsadmin;Password=adminTPS0!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

    </connectionStrings>
  
  <appSettings>
    <add key="ValidateSubscription" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HostingEnvironment" value="Live"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TpsFileStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tpsfiles;AccountKey=7hmlAjGI3HDOGcLj1J9Whpb40LereAdGTi4cxaWw1cVVAz5te8JPBqQaIL0Ll5mA7sblYLaOdODY0d6SKQzKng==;EndpointSuffix=core.windows.net"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ValidateSubscription" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="USPoolName" value="tps40-pool" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CanadaPoolName" value="tps-canada-elastic-pool" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="USDatabaseServer" value="tps-eastus-elastic-sql.database.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CanadaDatabaseServer" value="tcp:tps-canada-elastic-sql.database.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- ClientId and ClientSecret refer to the web application registration with Azure Active Directory -->
    <add key="VaultClientId" value="4924c772-44f6-42c8-8b95-92ed41eae68e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="VaultClientSecret" value="74PG/Ut1Kib76osDhnQ6wZUYBnf2xm5zak3GuSaTyAI=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- SecretUri is the URI for the secret in Azure Key Vault -->
    <add key="VaultBaseUrl" value="https://keys-tps.vault.azure.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>